/*
* 
* =====================
* GENERAL
* =====================
*
*/
.navbar {
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
}

.main-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
